<div class="features container-fluid">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Super Simple.</p>
        <p>Ribosome uses as little configuration as possible to keep the learning curve flat. Working with it is a cinch!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Really Reliable.</p>
        <p>By using a central repository, the analysis will work the same on any system.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Clearly Collaborative.</p>
        <p>We leverage the shared experience of analysts and researchers to reduce duplication of problem-solving.</p>
      </div>
    </div>
  </div>
</div>