<!-- Define the symbols, these are invisible on the page -->
<i data-fa-symbol="file" class="far fa-file-code"></i>
<i data-fa-symbol="horse" class="fas fa-horse-head"></i>
<i data-fa-symbol="hands" class="fas fa-hands-helping"></i>

<div class="features container-fluid">  
  <div class="container">
    <div class="row feature">
      <div class="col-md-7">
        <h2 class="lead">Super Simple.</h2>
        <p>Ribosome uses as little configuration as possible to keep the learning curve flat. Working with it is a cinch!</p>
      </div>
      <div class="col-md-5">
        <svg class="icon center-block"><use xlink:href="#file"></use></svg>
      </div>
    </div>
    <hr class="feature-divider">
    <div class="row feature">
      <div class="col-md-7 col-md-push-5">
        <h2 class="lead">Really Reliable.</h2>
        <p>By using a central repository, the analysis will work the same on any system.</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <svg class="icon center-block"><use xlink:href="#horse"></use></svg>
      </div>
    </div>
    <hr class="feature-divider">
    <div class="row feature">
      <div class="col-md-7">
        <h2 class="lead">Clearly Collaborative.</h2>
        <p>We leverage the shared experience of analysts and researchers to reduce duplication of problem-solving.</p>
      </div>
      <div class="col-md-5">
        <svg class="icon center-block"><use xlink:href="#hands"></use></svg>
      </div>
    </div>
  </div>
</div>