<div class="q-start container-fluid">
  <div class="row">
    <div class="container pad-tp-lg pad-bttm-lg">
      <div class="row">
        <div class="col-xs-12">
          <h2>Quick Start</h2>
          <p>Two lines of code is all you need to get up and running!</p>
          <div class="highlight">
            <pre>
              <code>filename foo url &quot;https://raw.githubusercontent.com/WatDurCodeGroup/ribosome/master/dist/main.min.sas&quot;;</code>
              <code>&#37;include foo;</code>
            </pre>
          </div>
          <p>Lean more with <a href="#">some examples</a>, or dive straight into the <a href="{{ site.baseurl | absolute_path }}/docs">documentation</a>.</p>
          </div>
      </div>
    </div>
  </div>
</div>